<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
</head>
<body>
    <h1>テーブルジョイン</h1>
    <h4>empとdep結合：{{ results }}</h4>
    <h4>整形板：{{ dic_result }}</h4>
    <ul>
        {% for id in id_lists %}
        <li>{{ dic_result[id] }}</li>
        {% endfor %}
    </ul>
    <table border="1">
<!--        {% for id in id_lists %}-->
<!--            {{ dic_result[id]['name'] }}-->
<!--        {% endfor %}-->
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>年齢</th>
            <th>性別</th>
            <th>部署名</th>
        </tr>
        {% for id in id_lists %}
        <tr>
            <td>{{id}}</td>
            <td>{{ dic_result[id]['name'] }}</td>
            <td>{{ dic_result[id]['age'] }}</td>
            <td>{{ dic_result[id]['gender'] }}</td>
            <td>{{ dic_result[id]['dep_name'] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>